body {
  padding: 10px;
}

.form-control {
  width: 250px;
}

input:required, input:invalid, select:invalid {
  outline: 1px solid red;
}

input:valid, select:valid {
  outline: 1px solid green;
}

input:focus {
  outline: 1px solid blue;
}

#submit {
  margin-top: 10px;
}

