body {
  padding: 10px;
}

.form-control {
  width: 250px;
}

#datepicker[readonly] {
  cursor: pointer;
  background-color: #fff;
}

#submit {
  margin-top: 10px;
}

.ui-datepicker-calendar {
    display: none;
}
