.error-text {
    color: red;
    font-size: 1.1em;
    margin-bottom: 6px;
}

#forgot-password-form-container {
    display: inline-block;
    max-width: 500px;
}

#page-content {
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
}