/* Universal reset */
* {
  padding: 0;
  margin: 0;
}

body {
  background: #c7c7c7;
}

a img {
  border: none;
}

.comment-wrapper {
  border: 1px solid #e1e1e1;
  color: #444;
}

h3.comment-title {
  line-height: 2.5em;
  font-size: 1.2em;
  color: #555;
  border-bottom: 1px solid #e1e1e1;
}

.comments-list {
  font-size: 1em;
  color: #555;
}

.ul-comments-holder {
  list-style-type: none;
  overflow: hidden;
}

ul.comments-holder-ul li.comment-holder
{
  list-style-type: none;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}

ul.comments-holder-ul li.comment-holder:hover
{
}


ul.comments-holder-ul li.comment-holder .user-img {
  float: left;
  height: 60px;
  width: 60px;
}

ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic {
  width: 55px;
}

ul.comments-holder-ul li.comment-holder .comment-body {
}

ul.comments-holder-ul li.comment-holder h3.username-field {
  height: 35px;
  line-height: 2.5em;
  color: blue;
  font-size: 1.2em;
}

ul.comments-holder-ul li.comment-holder .comment-text {
  display: block;
  font-size: 1em;
  word-wrap: normal;
}